<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbmigrate.connection.mapper.DatabaseConnectionMapper">
    
    <resultMap type="DatabaseConnection" id="DatabaseConnectionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="driver"    column="driver"    />
        <result property="url"    column="url"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectDatabaseConnectionVo">
        select id, name, type, driver, url, username, password, create_time, update_time, status from dbmigrate_database_connection
    </sql>

    <select id="selectDatabaseConnectionList" parameterType="DatabaseConnection" resultMap="DatabaseConnectionResult">
        <include refid="selectDatabaseConnectionVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="driver != null  and driver != ''"> and driver = #{driver}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectDatabaseConnectionById" parameterType="Long" resultMap="DatabaseConnectionResult">
        <include refid="selectDatabaseConnectionVo"/>
        where id = #{id}
    </select>

    <insert id="insertDatabaseConnection" parameterType="DatabaseConnection" useGeneratedKeys="true" keyProperty="id">
        insert into dbmigrate_database_connection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="driver != null and driver != ''">driver,</if>
            <if test="url != null">url,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="driver != null and driver != ''">#{driver},</if>
            <if test="url != null">#{url},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateDatabaseConnection" parameterType="DatabaseConnection">
        update dbmigrate_database_connection
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="driver != null and driver != ''">driver = #{driver},</if>
            <if test="url != null">url = #{url},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDatabaseConnectionById" parameterType="Long">
        delete from dbmigrate_database_connection where id = #{id}
    </delete>

    <delete id="deleteDatabaseConnectionByIds" parameterType="String">
        delete from dbmigrate_database_connection where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>